<!DOCTYPE html>
<html>
  <head>
    <title>Veterinary Practice App</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <div class="container">
		<div class="header" >
			<div class = "">
			<%= render 'shared/header' %>
			</div>
		</div>
    
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
    
      <%= yield %>
    </div>
    
  </body>
</html>
<style>
 .header{
	background-color :#6F5499;
	font-size :20px;
	color :#fff;
	padding :10px;
}
 .header a {
 color :#fff;
}

.header a:hover{
 color :#659ECF;
}
</style>
